<footer class="footer" role="contentinfo">
  <div class="container">
    <div class="footer__contact">
      <div class="footer__item footer__item--email" itemscope itemtype="https://schema.org/ContactPoint">
        <img src="/images/email.svg" alt="Email icon" class="footer__icon" aria-hidden="true">
        <span itemprop="email">itcourse@gmail.com</span>
      </div>
      <div class="footer__item footer__item--phone" itemscope itemtype="https://schema.org/ContactPoint">
        <img src="/images/phone.svg" alt="Phone icon" class="footer__icon" aria-hidden="true">
        <span itemprop="telephone">+380995432121</span>
      </div>
      <div class="footer__item footer__item--instagram">
        <img src="/images/instagram.svg" alt="Instagram icon" class="footer__icon" aria-hidden="true">
        <a href="https://instagram.com/itcourse" target="_blank" rel="noopener noreferrer">@itcourse</a>
      </div>
    </div>
  </div>
</footer>

