<%- include('../layout', { 
  title: 'Thank You',
  headerClass: 'header--catalog',
  content: `
  <section class="checkout__success">
    <div class="container">
      <h1 class="checkout__success-title" data-i18n="thankyou.title">Thank you for your purchase!</h1>
      <p class="checkout__success-message" data-i18n="thankyou.message">All further information will be sent to your email.</p>
    </div>
  </section>
` }) %>

